.counter {
    width: 70%;
    min-height: 50vh;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    /* border: 1px solid darkviolet; */
    background-color: #DAA520
    
}

.buttons button {
    background-color:#282c34;
    color: white;
    border: none;
    width: 100px;
    height: 80px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
    
}

.buttons button:hover {
    background-color: lightgray;
}

.headerText {
    font-size: 2em;
}

.stepControl {
    margin: 20px 0;
}
#stepperLabel {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    
}

#stepper {
    padding: 5px;
    width: 8%;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
}